#container {
	display: flex;
	flex-direction: column;
	padding: 5rem;
}

.main-title {
	margin-bottom: 2rem;
	font-size: 50px;
	font-family: 'Inter', sans-serif;
	align-self: flex-start;
	margin-left: 5rem;
}

#wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 88%;
	align-self: center;
}

.card {
	display: flex;
	flex-direction: column;
	width: 288px;
}

.card__image {
	inline-size: 288px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.card__description {
	background-color: #cef9ff;
	padding: 10px;
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.card__favorite {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.card__favorite-btn {
	width: 16px;
	height: 16px;
	--fillColor: #000;
}
.card__favorite-btn:hover {
	cursor: pointer;
	transform: scale(1.1);
    stroke: red;
    stroke-width: 2px;
}

.card__favorite-link {
	font-size: 14px;
	color: #000;
}
.card__favorite-link:hover {
	text-decoration: underline;
}

.active svg {
	--fillColor: red;
}
