/* 
_________   _________ _________ .____                                __   
\_   ___ \ /   _____//   _____/ |    |   _____  ___.__. ____  __ ___/  |_ 
/    \  \/ \_____  \ \_____  \  |    |   \__  \<   |  |/  _ \|  |  \   __\
\     \____/        \/        \ |    |___ / __ \\___  (  <_> )  |  /|  |  
 \______  /_______  /_______  / |_______ (____  / ____|\____/|____/ |__|  
        \/        \/        \/          \/    \/\/                        
 
*/

/* Base reset */

/*Box-sizing*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
figure {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

img,
video,
svg {
	max-width: 100%;
}

h1,
h2,
p,
a {
	font-family: 'Inter', sans-serif;
    text-decoration: none;
}

/* -----------reset end------------ */

#container {
    display: flex;
    flex-direction: column;
	padding: 5rem;
}

.main-title {
	margin-bottom: 2rem;
	font-size: 50px;
	font-family: 'Inter', sans-serif;
    align-self: flex-start;
    margin-left: 5rem;
}

#wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 88%;
    align-self: center;
}

.card {
	display: flex;
	flex-direction: column;
	width: 288px;
}

.card__image {
	inline-size: 288px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.card__description {
	background-color: #cef9ff;
	padding: 10px;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.card__favorite {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card__favorite-btn {
    width: 16px;
	height: 16px;
}
.card__favorite-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card__favorite-link {
    font-size: 14px;
    color: #000;
}
.card__favorite-link:hover {
    text-decoration: underline;
}
